body{
    background-color: bisque;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  th, td {
    text-align: left;
    padding: 8px;classname: 
}
  tr:nth-child(even){
    background-color: #f2f2f2;
}
  th {
    background-color: #2C3852;
    color: white;
    font-size: 18px;
}
  header {
    max-width: 900px;
    margin: 0 auto;
    height: 600px;
    background-color: #E3E4DE;
}
  #mainComponent{
      flex: auto;
}
  #calculateSalary{
      float: right;
}
.deleteButton {
	background-color:#7892c2;
	border-radius:20px;
	border:3px solid #2C3852;
	display:inline-block;#4e6096
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:10px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.deleteButton:hover {
	background-color:#476e9e;
}
.deleteButton:active {
	position:relative;
	top:1px;
}
